html, body {
    /*height: 95%;*/
}

body {
    -webkit-user-select: text;
}

/* tab bar */
html {
    -webkit-app-region: drag;
}
body {
    margin-top: 0;
    -webkit-app-region: no-drag;
}

#title-bar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    display: -webkit-flex;
}
#title-bar * {
    -webkit-app-region: no-drag;
}
#tab-bar {
    display: inline-block;
}
#tab-bar li .ui-icon-close {
    float: left;
    margin: 0.4em 0.2em 0 0;
}
#tab-bar li.disconnected a .ui-icon {
    -webkit-filter: grayscale(100%);
}
#tab-bar li.connected a {
    color: green;
}

#new-menu {
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 4px;
}
#new-tab .icon {
    width: 16px;
    height: 16px;
    background-image: url(lib/jquery-ui-1.10.2.custom/css/ui-lightness/images/ui-icons_222222_256x240.png);
    background-position: -32px -128px;
}
#new-tab .icon:hover {
    background-image: url(lib/jquery-ui-1.10.2.custom/css/ui-lightness/images/ui-icons_888888_256x240.png);
}

#title-panel {
    display: -webkit-flex;
}
#title-panel div:hover {
    background-image: url(lib/jquery-ui-1.10.2.custom/css/ui-lightness/images/ui-icons_888888_256x240.png);
}

#quick-connect {
    display: none;
    position: absolute;
    margin-left: 16px;
    margin-top: -16px;
}
#quick-connect li img {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    vertical-align: middle;
}

/* main */

textarea#ime {
    color:white;
    opacity:0.00;
    position:absolute;
    top:0;
    left:0;
    width: 0;
    height: 0;
}
textarea#clipboard {
    color:white;
    opacity:0.00;
    position:absolute;
    top:0;
    left:0;
    width: 0;
    height: 0;
}
