html, body {
    /*height: 95%;*/
    overflow: hidden;
}

body {
    -webkit-user-select: text;
}

/* tab bar */

html {
    -webkit-app-region: drag;
}
body {
    margin-top: 0;
    -webkit-app-region: no-drag;
}

#title-bar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    display: -webkit-flex;
}
#title-bar ul, #title-bar #new-menu, #title-bar #title-panel {
    -webkit-app-region: no-drag;
}
#tab-bar {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}
#tab-bar li .ui-icon-close {
    float: left;
    margin: 0.4em 0.2em 0 0;
}
#tab-bar li.disconnected a .ui-icon {
    -webkit-filter: grayscale(100%);
}
#tab-bar li.connected a {
    color: green;
}

#new-menu {
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 4px;
}
#new-tab .icon {
    width: 16px;
    height: 16px;
    background-image: url(lib/jquery-ui-1.10.2.custom/css/ui-lightness/images/ui-icons_222222_256x240.png);
    background-position: -32px -128px;
}
#new-tab .icon:hover {
    background-image: url(lib/jquery-ui-1.10.2.custom/css/ui-lightness/images/ui-icons_888888_256x240.png);
}

#title-panel {
    display: -webkit-flex;
    height: 16px;
}
#title-panel div.ui-icon:hover {
    background-image: url(lib/jquery-ui-1.10.2.custom/css/ui-lightness/images/ui-icons_888888_256x240.png);
}

#quick-connect {
    display: none;
    position: absolute;
    margin-left: 16px;
    margin-top: -16px;
}
#quick-connect li img {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    vertical-align: middle;
}

/* connect dialog */

.dialog {
    display: none;
}
#connect form {
    margin-bottom: 4px;
}
#connect fieldset > div {
}
#connect fieldset .ui-dialog .ui-dialog-content {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.ui-dialog .ui-dialog-buttonpane {
    padding-bottom: 4px;
}

#connect fieldset > div:first-child {
    margin-bottom: 6px;
}
#connect div.icon-input {
    display: inline-block;
    height: 22px;
    border: 1px solid rgb(170, 170, 170);
}
#connect div.icon-input div.icon {
    display: inline-block;
    height: 22px;
}
#connect div.icon-input div.icon > img {
    margin-bottom: -4px;
    margin-left: 4px;
    width: 16px;
    height: 16px;
}
#connect .icon-input input {
    outline: none;
    border-style: none;
}
#connect-book {
    display: none;
    position: fixed;
}
#connect-book li img {
    width: 16px;
    height: 16px;
    margin-left: -4px;
    margin-right: 4px;
    vertical-align: middle;
}
#connect input {
    height: 22px;
}
#connect input, #connect select {
    outline: none;
}
#connect-host {
    /*background: url("lib/smth.ico") no-repeat 4px;*/
    /*padding-left: 22px;*/
}


/* settings dialog */

#settings-dialog {
    padding-top: 0;
}
#settings-dialog textarea {
    width: 100%;
    height: 75%;
}
#settings-dialog div.ace_editor {
    width: 100%;
    height: 75%;
}

/* menu */

#menu ul {
    display: none;
    position: absolute;
}

/* input dialog */

#input-dialog textarea {
    width: 100%;
    height: 100%;
}
div[aria-describedby="input-dialog"] .ui-dialog-titlebar {
    /*display: none;*/
}
div[aria-describedby="input-dialog"] .ui-dialog-buttonpane {
    border: none;
    padding: 0;
    margin: 0;
}

/* script dialog */

#script-dialog div.ace_editor {
    width: 100%;
    height: 100%;
}
div[aria-describedby="script-dialog"] .ui-dialog-titlebar {
    /*display: none;*/
}
div[aria-describedby="script-dialog"] .ui-dialog-buttonpane {
    border: none;
    padding: 0;
    margin: 0;
}

/* about dialog */

#about a {
    text-decoration: underline;
}

/* main */

textarea#ime {
    color:white;
    opacity:0.00;
    position:absolute;
    top:0;
    left:0;
    width: 0;
    height: 0;
}
textarea#clipboard {
    color:white;
    opacity:0.00;
    position:absolute;
    top:0;
    left:0;
    width: 0;
    height: 0;
}

/* preview */

#preview p {
    display: none;
}
#preview.preview-loading p {
    display: block;
    color: white;
    font-size: 20px;
}

