.clickable:hover {
    background-color: rgba(128, 128, 128, 0.5);
    cursor: pointer;
}
.clickable:hover span {
    background-color: rgba(128, 128, 128, 0.5);
    cursor: pointer;
}
.inner-clickable:hover {
    /*background-color: yellow;*/
    color: yellow;
    cursor: pointer;
}
div.menu {
    cursor:pointer;
}
a:hover {
    background-color: rgba(128, 128, 128, 0.5);
}
