.clickable:hover {
    background-color: rgba(128, 128, 128, 0.5);
    cursor: pointer;
}
.clickable:hover span {
    background-color: rgba(128, 128, 128, 0.5);
    cursor: pointer;
}
.clickable:hover span.selected {
    background-color: #972F2C;
}
.inner-clickable:hover {
    /*background-color: yellow;*/
    color: yellow;
    cursor: pointer;
}
.screen div.menu {
    cursor:pointer;
}
.screen div.menu ul.ui-widget-content {
    border: none;
}
.screen div.menu ul li {
    background-color: black;
    color: white;
}
.screen a:hover {
    background-color: rgba(128, 128, 128, 0.5);
}
